---
import ProjectCard from './ProjectCard.astro';
import { projects } from '../data/projects';
---

<div class="project-grid">
  {projects.map((project, index) => <ProjectCard project={project} featured={index === 0} />)}
</div>
